<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<!-- Appenders -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder charset="UTF-8">
			<pattern>[%level] [%d{yyyy-MM-dd HH:mm:ss.SSS}-%r] %logger{36}:%line- %msg%n</pattern>
		</encoder>
	</appender>
	<!-- Application Loggers -->
	<logger name="org.mynah.brew" level="DEBUG" />
	<!-- 3rdparty Loggers -->
	<logger name="org.springframework" level="INFO" />
	<logger name="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver" level="WARN" />
	<logger name="freemarker" level="INFO" />
	<!-- Root Logger -->
	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>